/nbproject
/nbproject/*
/cache/cachefs/*
/cache/purifier/*
/cache/push/*
/cache/sandbox/*
/cache/smarty/*
/cache/tcpdf/*
/themes/*/cache/*
/.htaccess
/cache/cachefs/*
/cache/purifier/*
/cache/push/*
/cache/sandbox/*
/cache/smarty/*
/cache/tcpdf/*
/tmp/*
/config/settings.inc.php
/backupDB
*.tgz
/download/*
/upload/*
/img/p/*
/config/settings.inc.php