@import '_theme_variables';

ul.product_list.grid ,ul.tm-carousel {
	 li {
		padding:10px;
		text-align: center;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px			
			float: left;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
				width: 33.33%;
		}
		@media (max-width: $screen-xs){
				width: 100%;	
		}
		.product-container {
			background: $light-background;
			padding: 0;
			position: relative;
			.left-block{
				border: 1px solid #e5e5e5;
				.product-image-container {				
					padding: 0px;
					margin-bottom: 0px;
					position: relative;
					overflow: hidden;					
					img{ 
						transition :all 0.5s ease 0s;
						-webkit-transition: 0.5s ease 0s;
						-moz-transition: 0.5s ease 0s;
						-o-transition: 0.5s ease 0s;
						-ms-transition: 0.5s ease 0s;
						margin: 0 auto;
						}
					.img_1{
						 height: 100%;
						left: 0;
						opacity: 0;
						position: absolute;
						right: 0;
						top: 0;
						transition: all 0.8s ease 0s;
						-webkit-transition: 0.8s ease 0s;
						-moz-transition: 0.8s ease 0s;
						-o-transition: 0.8s ease 0s;
						-ms-transition: 0.8s ease 0s;
						max-width: 100%;
						
					}
					.content_price {
						position: absolute;
						left: 0;
						bottom: -1px;
						width: 100%;
						background:$base-bg;
						padding: 9px 0;
						display: none;
						span {
							color: $light-text-color;
							&.old-price {
								color: #b1b0b0;
							}
						}
					}			
					.hoverimage{					
							position: absolute;
							left: 0;
							right: 0;
							bottom: -35px;
							overflow: hidden;
							width: 100%;
							transition :all 500ms ease 0s;;
							background: #25aef5 none repeat scroll 0 0;
							@media (max-width: $screen-xs-max) {bottom: 0;}
							.button-container {							
								span.button{text-transform: uppercase; padding: 0; width: 100%;
								@media (max-width: $screen-xs-max) {font-size: 0;}
								span{
									padding: 7px;
									cursor: not-allowed;
									&:before{
											content:"\f07a";
											font-family: $font-icon;
											font-size: 14px;	
											display: inline;
											padding: 0 10px 0 0px;
											@media (max-width: $screen-xs-max) {padding: 0; display: inline; float: none;}
										}
									}
								}
								a.lnk_view {
									display:none;
									}
							}
							.functional-buttons {
								padding: 0;
								div {
									width: auto;
									float: left;								
									height: 35px;
									font-size: 0;
									width: 17.5%;							
									@media (max-width: $screen-xs-max) {width: 33.33%;}								
									&.button-container{									
										border-right: 1px solid $light-border-color;
										width: 65%;											
										@media (max-width: $screen-xs-max) {width: 33.33%;}									
										a {
											margin:0;
											line-height: 20px;
											padding: 7px;
											color: $light-text-color;
											background: transparent;
											text-transform: uppercase;
											border: none;
											width: 100%;
											@media (max-width: $screen-xs-max) {font-size: 0; text-align: center;}
											&:before{
												content:"\f07a";
												font-family: $font-icon;
												font-size: 14px;	
												display: inline;
												padding: 0 10px 0 0;
												@media (max-width: $screen-xs-max) {padding: 0; display: inline; float: none;}
											}
											span{
												display: inline;
												padding: 0;
											}
											&:hover{
												background: transparent;
												span{background: transparent;}	
											}
										}
									}
									&:hover{background-color: $base-body-color;}
								}
							}
						}
						&:hover{
							.img_1{opacity: 1;}	
						}
					}
				}
			.right-block{
				text-align: left;
				position: relative;
				padding: 5px 10px 10px;
				border: 1px solid $common-border-color;
				border-top: none;
				h5{margin: 0;}
				.comments_note {
					display:block;
					.star_content {
						margin: 0;
						width:100%;
					}
				}
				.product-desc {
					display: none;	
				}
				.old-price, 
				.price, 
				.price-percent-reduction {
					display: inline-block;
				}
				.old-price {
					margin-right: 5px;
				}
				
			}
		}
		@media (min-width: $screen-sm) { // min 992px
			&.hovered,&:hover {
			
				.product-container {
					position: relative;
					z-index: 10;
					.left-block{
						.product-image-container {
							img{transition :all 500ms ease 0s;}
						}
					.product-name { color:$product-name-hover-color;}
					.hoverimage{						
						bottom: 0;
					}
				}
			}
			}
		}
		@media (min-width: $screen-md) { // min 991px
			&.first-in-line {
				clear: none;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 991px
			&.first-item-of-mobile-line{
				clear: left;
			}
		}
		&:hover {
		 a.product-name,
		 .product-name a
		 	{
				color:$product-name-hover-color;
			}
		}
	}
}

ul.tm-carousel {
	 li {width: 100% !important;}
}
#crossselling_list{position: relative;}